<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>

    <div class="box">

        <% for(var i=0;i<newListItems.length;i++){ %>
            <label for="<%= newListItems[i] %>" class="item">
                <input type="checkbox" id="<%= newListItems[i] %>" name="" value="<%= newListItems[i] %>">
                <p>
                    <%= newListItems[i] %>
                </p>

                <Form action="/" method="post">
                    <button class="deleteItem" type="submit" name="delete" value="<%= newListItems[i] %>">-</button>
                </Form>

            </label>
            <% } %>

                <Form class="item" action="/" method="post">

                    <input type="text" id="newItemInput" name="newItem" placeholder="New Item" />

                    <button class="addItem" type="submit" name="button">+</button>
                </Form>
    </div>
    <footer>
        &copy; <%= year%>
    </footer>

    <script>
        const inputField = document.getElementById("newItemInput");
        inputField.focus();
    </script>
</body>

</html>