<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= title %>
        </h1>
    </div>

    <div class="box">

        <% newListItems.forEach(item=> { %>

            <Form class="item" action="/delete" method="post">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                <p>
                    <%= item.name %>
                </p>
                <input type="hidden" name="list" value="<%=title %>" />

            </Form>

            <% }) %>

                <Form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autofocus />
                    <button class="addItem" type="submit" value="<%=title %>" name="list">+</button>
                </Form>
    </div>
    <footer>
        &copy; Tesla Corp
    </footer>


</body>

</html>